<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addroom</servlet-name>
        <servlet-class>servleti.addroom</servlet-class>
        <multipart-config>
            <!-- Konfiguracije za multipart formu -->
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>addhotel</servlet-name>
        <servlet-class>servleti.addhotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rateHotel</servlet-name>
        <servlet-class>servleti.rateHotel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addroom</servlet-name>
        <url-pattern>/addroom</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cancelReservation</servlet-name>
        <servlet-class>servleti.cancelReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkin</servlet-name>
        <servlet-class>servleti.checkin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>servleti.checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmreservation</servlet-name>
        <servlet-class>servleti.confirmreservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlete</servlet-name>
        <servlet-class>servleti.loginServlete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateHotelInformation</servlet-name>
        <servlet-class>servleti.updateHotelInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfile</servlet-name>
        <servlet-class>servleti.updateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadPhoto</servlet-name>
        <servlet-class>servleti.uploadPhoto</servlet-class>
        <multipart-config>
            <!-- Konfiguracije za multipart formu -->
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadPhoto</servlet-name>
        <url-pattern>/uploadPhoto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateroom</servlet-name>
        <servlet-class>servleti.updateroom</servlet-class>
        <multipart-config>
            <!-- Konfiguracije za multipart formu -->
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateroom</servlet-name>
        <url-pattern>/updateroom</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>servleti.signup</servlet-class>
        <multipart-config>
            <!-- Konfiguracije za multipart formu -->
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addroom</servlet-name>
        <url-pattern>/addroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelReservation</servlet-name>
        <url-pattern>/cancelReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkin</servlet-name>
        <url-pattern>/checkin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmreservation</servlet-name>
        <url-pattern>/confirmreservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlete</servlet-name>
        <url-pattern>/loginServlete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateHotelInformation</servlet-name>
        <url-pattern>/updateHotelInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfile</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadPhoto</servlet-name>
        <url-pattern>/uploadPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateroom</servlet-name>
        <url-pattern>/updateroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addhotel</servlet-name>
        <url-pattern>/addhotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rateHotel</servlet-name>
        <url-pattern>/rateHotel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
